@model IEnumerable<QuanAnGiaDinh.DTOs.DatBan>

@{
    ViewData["Title"] = "ListDatBan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách đặt bàn</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhuVuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gio)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TenKH)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.STD)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.KhuVuc)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Ngay)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Gio)
			</td>
			<td>
				@if (item.Duyet == true)
				{
					<button class="btn btn-outline-success duyetdathang" disabled>Đã xác nhận</button>
				}
				else
				{
					<a class="btn btn-outline-success " asp-action="DuyetDB" asp-controller="HoatDong" asp-area="Admin" asp-route-id="@item.Id">Chưa xác nhận</a>
				}
			</td>
		</tr>
}
    </tbody>
</table>
